# macOS
.DS_Store
# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
# Node
node_modules/
.env

# Datasets
*.mat
*.h5
*.nwb
datasets/*
!datasets/README.md
